@model JobPortal.Data.Entities.tblModule

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">FORM CREATE MODULE</h4>
                    <br />
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <form asp-action="Create" enctype="multipart/form-data" id="form">
                                <div class="form-group" style="margin-bottom: 15px">
                                    <label asp-for="Name" class="form-label"></label><span class="text-danger">*</span>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="margin-bottom: 15px">
                                    <label asp-for="Description" class="form-label"></label><span class="text-danger">*</span>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="margin-bottom: 15px">
                                    <label asp-for="SystemId" class="form-label"></label><span class="text-danger">*</span>
                                    <select asp-for="SystemId" class="form-select" asp-items="ViewBag.SystemData"></select>
                                    <span asp-validation-for="SystemId" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="margin-bottom: 15px">
                                    <label asp-for="ModuleUrl" class="form-label"></label><span class="text-danger">*</span>
                                    <input asp-for="ModuleUrl" class="form-control" />
                                    <span asp-validation-for="ModuleUrl" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="margin-bottom: 15px">
                                    <label asp-for="IsActive" class="form-label"></label><span class="text-danger">*</span><br />
                                    <input type="checkbox" asp-for="IsActive" />
                                    <span asp-validation-for="IsActive" class="text-danger"></span>
                                </div>
                                <div class="form-group text-center" style="margin-bottom: 15px">
                                    <input style="background-color:forestgreen" type="button" onclick="onCreate()" value="Create" class="btn btn-primary" />
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="text-center">
                                    <a style="background-color:gray" class="btn btn-primary" href="/admin/tblModule">Back to List</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function onCreate() {
            Swal.fire({
                title: 'Add new Module?',
                text: "Are you sure to add new Module?",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Success'
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#form").submit();
                    Swal.fire(
                        'Created!',
                        '',
                        'success'
                    )
                }
            })
        }
    </script>
}

